<h1> @ViewBag.Thongbao</h1>
<form asp-action ="Welcome">
    <input type="text" name="PersonID" placeholder="Nhap ID">
    <input type="text" name="FullName" placeholder="Nhap ho va ten">
    <input type="text" name="Address" placeholder="Nhap dia chi">
    <input type="submit" value="send">
</form>