<h2>@ViewBag.Thongbao</h2>
<form asp-action ="Index">
    <input type="text" name="EmployeeID" placeholder="Nhap id">
    <input type="text" name="FullName" placeholder="Nhap ho ten">
    <input type="text" name="Age" placeholder="Nhap tuoi">
    <input type="submit" value="send">
</form>